:root{
	--color1: "";
	--color2: "";
	--color3: "";

	--fontColor: "";
	--white: #fff;
	--green: #31cb00;
	--darkgreen: #119822;
}
body{
	background: linear-gradient(to right, var(--color1), var(--color2), var(--color3));

	display: flex;
	flex-direction: column;
	align-items: center;
}
.borda{
	border-bottom: 4px solid var(--color3);
}

/*Style do Menu de Navegação*/
#header{
	left: 0;
	width: 100vw;
	height: 15vh;
	background: var(--white);
	z-index: 1000;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
#header .logotopo{
	height: 80%;

	display: flex;
	align-items: center;
}
#header .logotopo .logo{
	height: 13.5vh;
	width: 13.5vh;

	display: flex;
	align-items: center;
	justify-content: center;
}
#header .logotopo .logo img{
	height: 100%;
}
#header .navegacao{
	width: 25vw;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#header .navegacao a{
	text-decoration: none;
	color: var(--fontColor);
	padding: 6px 15px;
	border-radius: 20px;
	transition: 0.3s;
}
#header .navegacao a:hover{
	background: var(--color3);
	color: var(--white);
	cursor: pointer;
}

/*Style refetente ao corpo do Cardápio*/
.corpo{
	background: rgba(255, 255, 255, 0.9);
	min-height: 120vh;
	width: 70vw;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.carrossel{
	width: 70vw;
	max-height: 80vh;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
}
.carrossel .carousel{
	height: 100%;
	width: 100%;
}

/*Style refetente à navegação do Cardápio*/
#menuCardapio{
	margin-top: 2%;

	display: flex;
	flex-direction: row;
	justify-content: center;
}
#menuCardapio .linha{
	width: 90%;

	display: flex;
	align-items: center;
	justify-content: center;
}
#menuCardapio a{
	text-decoration: none;
	color: var(--fontColor);
	padding: 6px 15px;
	font-size: 25px;
}
#menuCardapio a:hover{
	background: var(--color3);
	color: var(--white);
}
#menuCardapio .ativado{
	background: var(--color3);
	color: var(--white);
}
#arealanches{
	visibility: visible;
}
#areaBebidas{
	visibility: hidden;
}
/*Style referente aos cards dos produtos*/
.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 2.5%;
}
.container .card {
	position: relative;
	height: 350px;
	width: 160px;
	margin: 15px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}
.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}
.container .card:hover .content {
	transform: translateY(-35px);
}
.container .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}
.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container .card .content .contentBx h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	margin: 30px 0 10px;
}
.container .card .content .contentBx h3 .valor {
	font-size: 25px;
	font-weight: 300;
	text-transform: initial;
	line-height: 1.5em;
}
#guarana h3 {
	font-size: 13px;
}
#coca h3 {
	font-size: 15px;
}
#soda h3 {
	font-size: 16px;
}
#sukita h3 {
	font-size: 15px;
}
.container .card .sci {
	position: absolute;
	bottom: 3%;
	display: flex;
	list-style: none;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
	align-items: center;
	justify-content: center;
}
.container .card:hover .sci{
	transform: translateY(0px);
	opacity: 1;
}
.container .card .sci2 {
	position: absolute;
	bottom: 15%;
	display: flex;
	list-style: none;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
	align-items: center;
	justify-content: center;
}
.container .card:hover .sci2{
	transform: translateY(0px);
	opacity: 1;
}
.addCarrinho{
	background: var(--color3);
	color: var(--white);
	transition: 0.25s;
}
.addCarrinho:hover{
	background: var(--white);
	color: var(--color3);
}

/*Style referente ao botões e ícones dos Modais*/
.modal-header{
	background: linear-gradient(to right, var(--color1), var(--color2), var(--color3));
}
.t{
	margin-right: 5%;
}
.fab{
	margin-right: 5%;
}
.enviar{
	background: var(--green);
	color: var(--white);
}
.enviar:hover{
	background: var(--darkgreen);
}
.dinheiro{
	background: var(--green);
}
#qtd{
	width: 60%;
	height: 100%;
}

/*Collapses design*/
#collapseLanches img{
	opacity: 1;
	transition: 1s;
}
#collapseBebidas img{
	opacity: 0;
	transition: 1s;
}

.rodape{
	border-top: 3px solid var(--color3);
	background: var(--white);
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	color: rgba(73, 73, 73);

	width: 70vw;
	min-height: 50vh;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.rodape .linha{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}
.rodape .linha .logo{
	width: 30vw;
	height: 25vh;

	display: flex;
	align-items: center;
	justify-content: center;
}
.rodape .linha .logo img{
	height: 100%;
}
.rodape .linha .dados{
	min-height: 20vh;
	width: 30vw;

	display: flex;
	flex-direction: column;
}
.rodape .linha .dados li{
	list-style: none;
}
.rodape .linha .dados li a{
	text-decoration: none;
	color: rgb(73, 73, 73);
}
.rodape .linha .dados .fa-whatsapp{
	color: var(--green);
}
.rodape .linha .dados .fa-instagram{
	color: #E1306C;
}
.rodape .linha .dados .fa-facebook{
	color: #5851DB;
}
.rodape .linha .dados .fa-map-marker-alt{
	color: #FD1D1D;
	padding-right: 6%;
}
.rodape .jungle{
	width: 100%;

	display: flex;
	justify-content: center;
}
.jungle img{
	width: 7.5vw;
	margin-top: -0.5%;
}
.bordarodape{
	padding-bottom: 1%;
	border-bottom: 3px solid var(--color3);
}


@media only screen and (max-width: 700px) {
	#header{
		width: 100vw;
		height: 15vh;
	
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	#header .logotopo{
		height: 50%;
		width: 20vw;
	
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#header .logotopo .logo{
		height: 100%;
		width: 13.5vh;
	
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#header .logotopo .logo img{
		height: 100%;
	}
	#header .navegacao{
		width: 80vw;
		height: 5vh;
	
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
	#header .navegacao a{
		padding: 6px 15px;
		border-radius: 20px;
		transition: 0.3s;
	}

	.container .card {
		height: 300px;
		width: 130px;
		margin: 15px;
		border-radius: 15px;
	}
	.container .card .sci2 {
		bottom: 17.5%;
		transform: translateY(40px);
	}
	.container .card .content .imgBx {
		width: 125px;
		height: 125px;
	}
	.container .card .content .imgBx img {
		width: 100%;
		height: 100%;
	}
	.container .card .content .contentBx h3 {
		letter-spacing: 2px;
		font-weight: 500;
		font-size: 15px;
		line-height: 1em;
	}
	.container .card .content .contentBx h3 .valor {
		font-size: 23px;
		font-weight: 300;
	}
	
	.jungle img{
		width: 20vw;
		margin-top: -0.5%;
	}

	.corpo{
		min-height: 120vh;
		width: 100vw;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	.carrossel{
		width: 100vw;
		max-height: 80vh;
		overflow: hidden;
	
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.carrossel .carousel{
		height: 100%;
		width: 100%;
	}

	.rodape{
		width: 100vw;
		min-height: 50vh;
	
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.rodape .linha{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	.rodape .linha .logo{
		width: 30vw;
		height: 15vh;
	
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.rodape .linha .logo img{
		height: 100%;
	}
	.rodape .linha .dados{
		min-height: 20vh;
		width: 80vw;
	
		display: flex;
		flex-direction: column;
	}
	.rodape .jungle{
		width: 100%;
	
		display: flex;
		justify-content: center;
	}
	.jungle img{
		width: 20vw;
		margin-top: -0.5%;
	}
	.bordarodape{
		padding-bottom: 1%;
		border-bottom: 3px solid var(--color3);
	}
}
@media only screen and (min-width: 1000px) {
	#header .navegacao a{
		padding: 6px 10px;
	}
}
